doctype HTML
head 
    title= "404 Not Found!"
    style
        include ../index.css
        include style.css
body 
    div(class="wrap")
        h1="404"
        h5="Not Found"
        p(class="subtitle1")="The Requested Resource Is Not Found"
        a(class="primary" href="/")="Nav to Home"
    